@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
:root {
  --background: #f3f4f6; /* Light mode background */
  --foreground: #000; /* Light mode text */ /*  */
}

[data-theme="dark"] {
  --background: #101828; /* Dark mode background (black) */
  --foreground: #fff; /* Dark mode text */
}
@theme {
      --color-background: var(--background);
      --color-foreground: var(--foreground);
} 